{% extends "::base.html.twig" %}


{% block title %}AppBundle:SP:display{% endblock %}

{% block body %}
    {% stylesheets 'bundles/app/css/*' output="css/app.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <div id="app"></div>
    {% javascripts
    '@AppBundle/Resources/public/js/framework/*'
    '@AppBundle/Resources/public/js/src/components/*'
    '@AppBundle/Resources/public/js/src/main.js' output="js/app.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
